<form action="/registerPost" method="post" class="class="form-group"">
<label for="username">username:</label>
<input type="text" name="username" class="form-control" placeholder="Only letters and numbers. Min:5 Max:12" style="width:55%;" />
<label for="password">password:</label> 
<input type="password" name="password" class="form-control" placeholder="Min:8 At least 1 lower case, 1 upper case, 1 special character, and 1 number" style="width:55%" />
<label for="password">re-password:</label> 
<input type="password" name="repassword" class="form-control" placeholder="Re-enter the password" style="width:55%" />
<input class="btn btn-default" type="submit" name="Submit" />
</form>